.game-code-input 
.name-input {
  text-transform: left;
  position: relative;
}

.game-code-input::placeholder,
.name-input::placeholder {
  text-align: center;
  transform: translateX(0);
  color: #c27ddf;
  transition: transform 0.3s ease;
} 

.game-code-input:focus,
.name-input:focus {
  outline: none;
  border-color: #c27ddf;
  box-shadow: 0 0 5px rgba(194, 125, 223, 0.5);
}

.game-code-input:focus::placeholder {
  color: rgba(194, 125, 223, 0.7);
  transform: translateX(-28%);
  transition: transform 0.3s ease;
}

.name-input:focus::placeholder {
  color: rgba(194, 125, 223, 0.7);
  transform: translateX(-35%);
  transition: transform 0.3s ease;
}