.App {
  text-align: center;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  font-family: var(--heading-font-family);
  font-style: var(--heading-font-style);
  color: var(--primary-color);
}

p {
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
  font-family: var(--primary-font-family);
  color: var(--primary-color);
}
