body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2D0D53;
  background-image: linear-gradient(-45deg, #4A0766, #2D0D53);
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  touch-action: pan-y pinch-zoom;
  -webkit-overflow-scrolling: touch;
}
