:root {
  --heading-font-family: 'Source Serif Pro', serif;
  --heading-font-style: italic;

  --primary-font-family: 'Inter', sans-serif;

  --primary-color: white;
  --inactive-color: #ffffff76;
  --confirm-color: #51F64C;
  --confirm-color-transparent: #51F64C14;
  --negative-color: #860BD2;
  --negative-color-transparent: #860BD214;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1E2F3A;
  background-image: url('./assets/background.png');
  background-position: top left;
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  touch-action: pan-y pinch-zoom;
  -webkit-overflow-scrolling: touch;
}

a {
  color: rgba(125, 125, 223, 0.7);

  &:visited {
    color: rgba(194, 125, 223, 0.7);
  }
}

